/*magin:auto can center elements within container*/
/*margin:bottom can set the distance for the start place of next element*/
/*position: absolute; starts after last positioned elem*/
/*border-radius: x(px); curvs edges*/
/*box-shadow:(px) (px) (px) (color); creates shadow*/
/*float:(direction); floats element toward direction*/
.nav	{
			background-color:black;
			/*height:auto;
			width:100%;
			/*border-radius:5px;*/
			/*margin:auto;*/
			/*box-shadow:10px 10px 5px black;*/
			/*margin-bottom:100%;*/
			top: 0;
			left: 0;
			display: block;
			position: fixed;
			width: 100%;
			height:75px;
			font-size: 4vw;
			margin: 0;
			z-index: 2;
			text-align:center;
			/*box-shadow: 5px 5px 2.5px black;*/
	/*margin-bottom:100%;*/
		}
.nav2	{
			position: relative;
			background-color:#8F8F8F;
			text-align:center;
			/*font-size: 4vh;*/
			font-size: 4vw;
			margin-bottom:10%;
			height:10vw;
			/*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
			font-family:'San Francisco', Helvetica, Arial, san-serif;
			color: black;
			opacity: 0.7;
		}
.left	{
	position: relative;
			background-color:#8E8E8E;
			height:auto;
			width:7%;
			/*border-radius:10px;*/
			margin: 6vmax auto;
			float:left;
			/*margin: auto;*/
			margin-top:50px;
			position: fixed;
			/*top:10%;*/
			/*margin-left:0%;*/
			/*box-shadow: 10px 10px 5px black;*/
		}
.mid	{
			/*position: absolute;*/
			position: relative;
			
			background-color:white;/*#8E8E8E;*/
			/*height:auto;*/
			width:85%;
			/*border-radius:10px;*/
			/*display: inline-block;*/
			/*margin: 6vmax auto;*/
			margin: auto;
			margin-top:75px;
			/*margin-left:2%;*/
			box-shadow: 5px 5px 2.5px black;
			/*opacity: 0.8;*/
		}
.buy_img{
			width:100%;
			margin-left:25%;
			margin-bottom:10%;
		}
.right	{
			background-color:#8E8E8E;
			/*height:auto;*/
			width:7%;
			/*border-radius:10px;*/
			float:right;
			/*margin-right:9%;*/
			/*box-shadow: 10px 10px 5px black;*/
		}
.Limg	{
			width:80%;
			margin-left:10%;
			margin-top:10%;
			}
.Rimg	{
			width:60%;
			margin-left:20%;
			margin-top:10%;
		}
#disney	{
			width:1.5%;
			float:right;
			margin-top:0.5%;
			margin-right:0.5%;
			margin-left:-1.5%;
		}
#brick	{
			margin-right: auto;
			margin-left: auto;
			background-image:url("resources/brick.jpg");
			height:60px;
			width:85%;
			margin-bottom:250%;
		}
#close	{
			width:1.5%;
			float:right;
			margin-top:6.5%;
		}
#midpic	{
			width:45%;
			margin-left:1%;
			margin-top:1%;
			margin-bottom:1%;
		}
#eye	{
			border: 6px solid red;
			width: 65%;
			border-radius: 5px;
		}
form 	{
    /*display: inline-block;*/
	font-family: Helvetica, Arial;
	/*font-style:monospace;*/
	margin-top: 5%;
	margin-bottom: 5%;
    text-align: center;
}
